In [112]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib.pyplot as plt
from sklearn import metrics

In [113]:
df = pd.read_csv('Dataset.csv')
df.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [114]:
df_copy = df.copy()
df_copy.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

In [115]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [116]:
df_copy['gender'] = le.fit_transform(df_copy['gender'])
df_copy['ssc_b'] = le.fit_transform(df_copy['ssc_b'])
df_copy['hsc_b'] = le.fit_transform(df_copy['hsc_b'])
df_copy['workex'] = le.fit_transform(df_copy['workex'])
df_copy['gender'] = le.fit_transform(df_copy['gender'])
df_copy['specialisation'] = le.fit_transform(df_copy['specialisation'])

In [117]:
df_copy.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,1,67.00,1,91.00,1,Commerce,58.00,Sci&Tech,0,55.0,1,58.80,Placed,270000.0
1,2,1,79.33,0,78.33,1,Science,77.48,Sci&Tech,1,86.5,0,66.28,Placed,200000.0
2,3,1,65.00,0,68.00,0,Arts,64.00,Comm&Mgmt,0,75.0,0,57.80,Placed,250000.0
3,4,1,56.00,0,52.00,0,Science,52.00,Sci&Tech,0,66.0,1,59.43,Not Placed,NaN
4,5,1,85.80,0,73.60,0,Commerce,73.30,Comm&Mgmt,0,96.8,0,55.50,Placed,425000.0

In [118]:
df_copy = df_copy.drop("sl_no", axis=1)
df_copy = pd.get_dummies(df_copy, columns = ['degree_t', 'hsc_s'])
df_copy.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,degree_p,workex,etest_p,specialisation,mba_p,status,salary,degree_t_Comm&Mgmt,degree_t_Others,degree_t_Sci&Tech,hsc_s_Arts,hsc_s_Commerce,hsc_s_Science
0,1,67.00,1,91.00,1,58.00,0,55.0,1,58.80,Placed,270000.0,0,0,1,0,1,0
1,1,79.33,0,78.33,1,77.48,1,86.5,0,66.28,Placed,200000.0,0,0,1,0,0,1
2,1,65.00,0,68.00,0,64.00,0,75.0,0,57.80,Placed,250000.0,1,0,0,1,0,0
3,1,56.00,0,52.00,0,52.00,0,66.0,1,59.43,Not Placed,NaN,0,0,1,0,0,1
4,1,85.80,0,73.60,0,73.30,0,96.8,0,55.50,Placed,425000.0,1,0,0,0,1,0

In [119]:
df_copy = df_copy.drop("status", axis=1)
status = df_copy['salary']
df_copy.drop(['salary'], axis=1, inplace=True)

In [120]:
# df_copy = df_copy.drop("status", axis=1)

In [121]:
gender = df_copy['gender']
ssc_b = df_copy['ssc_b']
hsc_b = df_copy['hsc_b']
workex = df_copy['workex']
specialisation = df_copy['specialisation']
df_copy.insert(16, 'salary', status)
df_copy.insert(10, 'gender_encoded', gender)
df_copy.insert(11, 'ssc_b_encoded', ssc_b)
df_copy.insert(12, 'hsc_b_encoded', hsc_b)
df_copy.insert(13, 'workex_encoded', workex)
df_copy.insert(14, 'specialisation_encoded', specialisation)

In [122]:
df_copy.head()

,gender,ssc_p,ssc_b,hsc_p,hsc_b,degree_p,workex,etest_p,specialisation,mba_p,...,hsc_b_encoded,workex_encoded,specialisation_encoded,degree_t_Comm&Mgmt,degree_t_Others,degree_t_Sci&Tech,hsc_s_Arts,hsc_s_Commerce,hsc_s_Science,salary
0,1,67.00,1,91.00,1,58.00,0,55.0,1,58.80,...,1,0,1,0,0,1,0,1,0,270000.0
1,1,79.33,0,78.33,1,77.48,1,86.5,0,66.28,...,1,1,0,0,0,1,0,0,1,200000.0
2,1,65.00,0,68.00,0,64.00,0,75.0,0,57.80,...,0,0,0,1,0,0,1,0,0,250000.0
3,1,56.00,0,52.00,0,52.00,0,66.0,1,59.43,...,0,0,1,0,0,1,0,0,1,NaN
4,1,85.80,0,73.60,0,73.30,0,96.8,0,55.50,...,0,0,0,1,0,0,0,1,0,425000.0

In [123]:
df_copy.drop(['gender','ssc_b','hsc_b','workex','specialisation'], axis='columns', inplace=True)
df_copy.head()

,ssc_p,hsc_p,degree_p,etest_p,mba_p,gender_encoded,ssc_b_encoded,hsc_b_encoded,workex_encoded,specialisation_encoded,degree_t_Comm&Mgmt,degree_t_Others,degree_t_Sci&Tech,hsc_s_Arts,hsc_s_Commerce,hsc_s_Science,salary
0,67.00,91.00,58.00,55.0,58.80,1,1,1,0,1,0,0,1,0,1,0,270000.0
1,79.33,78.33,77.48,86.5,66.28,1,0,1,1,0,0,0,1,0,0,1,200000.0
2,65.00,68.00,64.00,75.0,57.80,1,0,0,0,0,1,0,0,1,0,0,250000.0
3,56.00,52.00,52.00,66.0,59.43,1,0,0,0,1,0,0,1,0,0,1,NaN
4,85.80,73.60,73.30,96.8,55.50,1,0,0,0,0,1,0,0,0,1,0,425000.0

In [124]:
df_copy.salary.fillna(0,inplace=True)
df_copy.head()

,ssc_p,hsc_p,degree_p,etest_p,mba_p,gender_encoded,ssc_b_encoded,hsc_b_encoded,workex_encoded,specialisation_encoded,degree_t_Comm&Mgmt,degree_t_Others,degree_t_Sci&Tech,hsc_s_Arts,hsc_s_Commerce,hsc_s_Science,salary
0,67.00,91.00,58.00,55.0,58.80,1,1,1,0,1,0,0,1,0,1,0,270000.0
1,79.33,78.33,77.48,86.5,66.28,1,0,1,1,0,0,0,1,0,0,1,200000.0
2,65.00,68.00,64.00,75.0,57.80,1,0,0,0,0,1,0,0,1,0,0,250000.0
3,56.00,52.00,52.00,66.0,59.43,1,0,0,0,1,0,0,1,0,0,1,0.0
4,85.80,73.60,73.30,96.8,55.50,1,0,0,0,0,1,0,0,0,1,0,425000.0

In [125]:
df_copy = df_copy.drop(df_copy.index[df_copy["salary"]==0], axis=0)
df_copy.head()

,ssc_p,hsc_p,degree_p,etest_p,mba_p,gender_encoded,ssc_b_encoded,hsc_b_encoded,workex_encoded,specialisation_encoded,degree_t_Comm&Mgmt,degree_t_Others,degree_t_Sci&Tech,hsc_s_Arts,hsc_s_Commerce,hsc_s_Science,salary
0,67.00,91.00,58.00,55.0,58.80,1,1,1,0,1,0,0,1,0,1,0,270000.0
1,79.33,78.33,77.48,86.5,66.28,1,0,1,1,0,0,0,1,0,0,1,200000.0
2,65.00,68.00,64.00,75.0,57.80,1,0,0,0,0,1,0,0,1,0,0,250000.0
4,85.80,73.60,73.30,96.8,55.50,1,0,0,0,0,1,0,0,0,1,0,425000.0
7,82.00,64.00,66.00,67.0,62.14,1,0,0,1,0,0,0,1,0,0,1,252000.0

In [126]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148 entries, 0 to 213
Data columns (total 17 columns):
ssc_p                     148 non-null float64
hsc_p                     148 non-null float64
degree_p                  148 non-null float64
etest_p                   148 non-null float64
mba_p                     148 non-null float64
gender_encoded            148 non-null int64
ssc_b_encoded             148 non-null int32
hsc_b_encoded             148 non-null int32
workex_encoded            148 non-null int32
specialisation_encoded    148 non-null int32
degree_t_Comm&Mgmt        148 non-null uint8
degree_t_Others           148 non-null uint8
degree_t_Sci&Tech         148 non-null uint8
hsc_s_Arts                148 non-null uint8
hsc_s_Commerce            148 non-null uint8
hsc_s_Science             148 non-null uint8
salary                    148 non-null float64
dtypes: float64(6), int32(4), int64(1), uint8(6)
memory usage: 12.4 KB

In [127]:
df_copy.describe()

,ssc_p,hsc_p,degree_p,etest_p,mba_p,gender_encoded,ssc_b_encoded,hsc_b_encoded,workex_encoded,specialisation_encoded,degree_t_Comm&Mgmt,degree_t_Others,degree_t_Sci&Tech,hsc_s_Arts,hsc_s_Commerce,hsc_s_Science,salary
count,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000,148.000000
mean,71.721486,69.926554,68.740541,73.238041,62.579392,0.675676,0.472973,0.614865,0.432432,0.358108,0.689189,0.033784,0.277027,0.040541,0.533784,0.425676,288655.405405
std,8.715445,9.329268,6.518087,13.729333,5.884583,0.469711,0.500964,0.488280,0.497096,0.481072,0.464397,0.181286,0.449050,0.197893,0.500551,0.496124,93457.452420
min,49.000000,50.830000,56.000000,50.000000,52.380000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,200000.000000
25%,65.000000,63.000000,65.000000,60.000000,57.772500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,240000.000000
50%,72.500000,68.000000,68.000000,72.000000,62.245000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,265000.000000
75%,78.125000,75.250000,72.422500,85.000000,66.760000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,300000.000000
max,89.400000,97.700000,91.000000,98.000000,77.890000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,940000.000000

In [128]:
df_copy.drop(['degree_t_Others'], axis=1, inplace=True)
df_copy.drop(['hsc_s_Arts'], axis=1, inplace=True)

In [18]:
# pd.options.display.float_format = '{:,.4f}'.format
# corr_matrix = df_copy.corr()
# corr_matrix

In [19]:
# import seaborn as sns
# plt.figure(figsize=(15,13))
# sns.heatmap(corr_matrix, annot = True, cmap=plt.cm.CMRmap_r)

In [20]:
# df_copy.drop(['ssc_b_encoded'], axis=1, inplace=True)
# df_copy.drop(['degree_t_Comm&Mgmt'], axis=1, inplace=True)

In [21]:
# df_copy.head()

In [129]:
x = df_copy.iloc[:,:-1].values
y = df_copy.iloc[:,-1].values
print(x)
print(y)

[[67.   91.   58.   ...  1.    1.    0.  ]
 [79.33 78.33 77.48 ...  1.    0.    1.  ]
 [65.   68.   64.   ...  0.    0.    0.  ]
 ...
 [58.   60.   72.   ...  1.    0.    1.  ]
 [67.   67.   73.   ...  0.    1.    0.  ]
 [74.   66.   58.   ...  0.    1.    0.  ]]
[270000. 200000. 250000. 425000. 252000. 231000. 260000. 250000. 218000.
 200000. 300000. 236000. 265000. 393000. 360000. 300000. 360000. 240000.
 265000. 350000. 250000. 278000. 260000. 300000. 320000. 240000. 411000.
 287000. 300000. 200000. 204000. 250000. 200000. 450000. 216000. 220000.
 240000. 360000. 268000. 265000. 260000. 300000. 240000. 240000. 275000.
 275000. 275000. 360000. 240000. 240000. 218000. 336000. 230000. 500000.
 270000. 240000. 300000. 300000. 300000. 400000. 220000. 210000. 210000.
 300000. 230000. 260000. 420000. 300000. 220000. 380000. 300000. 240000.
 360000. 200000. 300000. 250000. 250000. 280000. 250000. 216000. 300000.
 240000. 276000. 940000. 250000. 236000. 240000. 250000. 350000. 210000.
 250000. 400000. 250000. 360000. 300000. 250000. 250000. 200000. 225000.
 250000. 220000. 265000. 260000. 300000. 400000. 233000. 300000. 240000.
 690000. 270000. 240000. 340000. 250000. 255000. 300000. 300000. 285000.
 500000. 250000. 240000. 290000. 300000. 500000. 220000. 650000. 350000.
 265000. 276000. 252000. 280000. 264000. 270000. 300000. 275000. 250000.
 260000. 265000. 300000. 240000. 260000. 210000. 250000. 300000. 216000.
 400000. 275000. 295000. 204000.]

In [23]:
# import statsmodels.api as sm
# X = x[:,:]
# print(X)

In [24]:
# constt = np.ones((148,1))
# X = np.append(arr = constt, values = x, axis = 1)
# print(X)

In [25]:
# x_opt = np.array(X[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]], dtype=float)
# stat = sm.OLS(endog=y,exog=x_opt).fit()
# stat.summary()

In [26]:
# x_opt = np.array(X[:,[0,1,2,3,4,5,6,8,9,10,11,12,13,14]], dtype=float)
# stat = sm.OLS(endog=y,exog=x_opt).fit()
# stat.summary()

In [27]:
# x_opt = np.array(X[:,[0,1,3,4,5,6,8,9,10,11,12,13,14]], dtype=float)
# stat = sm.OLS(endog=y,exog=x_opt).fit()
# stat.summary()

In [28]:
# x_opt = np.array(X[:,[0,1,3,4,5,6,8,9,10,11,13,14]], dtype=float)
# stat = sm.OLS(endog=y,exog=x_opt).fit()
# stat.summary()

In [29]:
# x_opt = np.array(X[:,[0,1,3,4,5,6,9,10,11,13,14]], dtype=float)
# stat = sm.OLS(endog=y,exog=x_opt).fit()
# stat.summary()

In [30]:
# x_opt = np.array(X[:,[0,1,3,4,5,6,10,11,13,14]], dtype=float)
# stat = sm.OLS(endog=y,exog=x_opt).fit()
# stat.summary()

In [31]:
# x_opt = np.array(X[:,[0,3,4,5,6,10,11,13,14]], dtype=float)
# stat = sm.OLS(endog=y,exog=x_opt).fit()
# stat.summary()

In [32]:
# x_opt = np.array(X[:,[0,3,5,6,10,11,13,14]], dtype=float)
# stat = sm.OLS(endog=y,exog=x_opt).fit()
# stat.summary()

In [33]:
# x_opt = np.array(X[:,[0,3,5,6,10,11,13]], dtype=float)
# stat = sm.OLS(endog=y,exog=x_opt).fit()
# stat.summary()

In [34]:
# x_opt = np.array(X[:,[0,5,6,10,11,13]], dtype=float)
# stat = sm.OLS(endog=y,exog=x_opt).fit()
# stat.summary()

In [35]:
# x_opt = np.array(X[:,[5,6,10,11,13]], dtype=float)
# stat = sm.OLS(endog=y,exog=x_opt).fit()
# stat.summary()

In [36]:
# x_opt = np.array(X[:,[5,6,11,13]], dtype=float)
# stat = sm.OLS(endog=y,exog=x_opt).fit()
# stat.summary()

In [37]:
# x_opt = np.array(X[:,[5,6,13]], dtype=float)
# stat = sm.OLS(endog=y,exog=x_opt).fit()
# stat.summary()

In [38]:
# x_opt = np.array(X[:,[5,6]], dtype=float)
# stat = sm.OLS(endog=y,exog=x_opt).fit()
# stat.summary()

In [39]:
# print(x_opt)

In [40]:
# from sklearn.model_selection import train_test_split
# x_tr,x_te,y_tr,y_te = train_test_split(x,y,test_size=0.15,random_state=100)

In [41]:
# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler
# from sklearn.ensemble import RandomForestRegressor
# from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

# acc = -10
# n = []

# for z in range(0,100):
#     x_tr,x_te,y_tr,y_te = train_test_split(x,y,test_size=0.1,random_state=i)
#     sc = StandardScaler()
#     x= sc.fit_transform(x)
#     x_tr= sc.fit_transform(x_tr)
#     x_te = sc.transform(x_te)
#     for i in range(1,10):
#         for j in range(0,40):
#             rfr=RandomForestRegressor(n_estimators=i, random_state=j)
#             rfr.fit(x_tr,y_tr)
#             y_pre = rfr.predict(x_te)
#             a = r2_score(y_te,y_pre)
#             if(a > acc):
#                 acc = a
#                 n.clear()
#                 n.append(i)
#                 n.append(j)
#                 n.append(z)
                
# x_tr,x_te,y_tr,y_te = train_test_split(x,y,test_size=0.1,random_state=)
# sc = StandardScaler()
# x= sc.fit_transform(x)
# x_tr= sc.fit_transform(x_tr)
# x_te = sc.transform(x_te)
                
# rfr=RandomForestRegressor(n_estimators=n[0], random_state=n[1])
# rfr.fit(x_tr,y_tr)
# y_pre = rfr.predict(x_te)
# print(r2_score(y_te,y_pre))
# print(mean_absolute_error(y_te,y_pre))
# print(mean_squared_error(y_te,y_pre))
# print(n)
# df = pd.DataFrame({'Actual':y_te, 'Predicted':y_pre})
# df

In [42]:
# from sklearn.decomposition import PCA
# pca = PCA(n_components = 1)
# x = pca.fit_transform(x)
# ev = pca.explained_variance_ratio_
# print(ev)

In [130]:
from sklearn.model_selection import train_test_split
x_tr,x_te,y_tr,y_te = train_test_split(x,y,test_size=0.03,random_state=100)

In [131]:
# from sklearn.model_selection import train_test_split
# xopt_tr,xopt_te,yopt_tr,yopt_te = train_test_split(x_opt,y,test_size=0.25,random_state=0)

In [132]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x= sc.fit_transform(x)
x_tr= sc.fit_transform(x_tr)
x_te = sc.transform(x_te)
print(x_tr)
print(x_te)

[[-2.60560341 -1.1767651  -0.57189205 ...  1.69259117 -1.1110243
   1.19320108]
 [-0.5459454  -0.96350331  0.49098196 ... -0.59081012 -1.1110243
   1.19320108]
 [-1.73597003 -0.55830593  0.2176715  ... -0.59081012  0.90007032
  -0.83808171]
 ...
 [ 0.4838836  -0.00382529  1.09833854 ... -0.59081012 -1.1110243
   1.19320108]
 [ 0.82715993  0.63596006 -0.48078856 ...  1.69259117 -1.1110243
   1.19320108]
 [ 0.59830905  1.80889987 -1.48292691 ... -0.59081012  0.90007032
  -0.83808171]]
[[-0.25988179 -0.00382529  0.49098196 -1.18905308 -1.32977128 -1.4291792
  -0.93892436 -1.26491106 -0.87488976  1.34310147 -1.55072948  1.69259117
  -1.1110243   1.19320108]
 [ 1.05601082 -0.21708707 -0.72373119  1.43934491  0.01910856  0.69970232
   1.06504852  0.79056942 -0.87488976 -0.74454538 -1.55072948  1.69259117
  -1.1110243   1.19320108]
 [-1.34692351 -0.32371796  0.18730367 -1.68242834  2.68384156  0.69970232
   1.06504852  0.79056942  1.14300114 -0.74454538  0.6448578  -0.59081012
  -1.1110243  -0.83808171]
 [-0.43151996 -1.49665777 -0.11637462 -0.02903385  0.97688278  0.69970232
   1.06504852  0.79056942 -0.87488976  1.34310147 -1.55072948  1.69259117
  -1.1110243   1.19320108]
 [ 0.14060727  0.31606738 -0.42005291 -0.24929067  0.97688278  0.69970232
  -0.93892436 -1.26491106  1.14300114 -0.74454538 -1.55072948  1.69259117
  -1.1110243   1.19320108]]

In [133]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
acc = -10
n = []
for i in range(1,11):
    for j in range(0,150):
        rfr=RandomForestRegressor(n_estimators=i, random_state=j)
        rfr.fit(x_tr,y_tr)
        y_pre = rfr.predict(x_te)
        a = r2_score(y_te,y_pre)
        if(a > acc):
            acc = a
            n.clear()
            n.append(i)
            n.append(j)

rfr=RandomForestRegressor(n_estimators=n[0], random_state=n[1])
rfr.fit(x_tr,y_tr)
y_pre = rfr.predict(x_te)
print(r2_score(y_te,y_pre))
print(mean_absolute_error(y_te,y_pre))
print(mean_squared_error(y_te,y_pre))
print(n)
df = pd.DataFrame({'Actual':y_te, 'Predicted':y_pre})
df

0.8499188888686364
22280.0
658712000.0
[5, 94]

     Actual  Predicted
0  250000.0   275000.0
1  411000.0   419000.0
2  236000.0   281000.0
3  350000.0   370000.0
4  275000.0   261600.0

In [134]:
y_pre = rfr.predict(x_tr)
print(r2_score(y_tr,y_pre))
print(mean_absolute_error(y_tr,y_pre))
print(mean_squared_error(y_tr,y_pre))
# print(n)
df = pd.DataFrame({'Actual':y_tr, 'Predicted':y_pre})
df

0.7463937217921122
26924.475524475525
2235838041.958042

       Actual  Predicted
0    340000.0   359000.0
1    264000.0   260200.0
2    336000.0   489600.0
3    200000.0   211200.0
4    252000.0   291600.0
..        ...        ...
138  250000.0   250400.0
139  300000.0   263200.0
140  300000.0   240000.0
141  320000.0   304000.0
142  218000.0   250600.0

[143 rows x 2 columns]

In [267]:
import keras
from keras.models import Sequential
from keras.layers import Dense

model = Sequential()
model.add(Dense(15, activation="relu", input_dim=14))
model.add(Dense(15, activation="relu"))
# model.add(Dense(15, activation="relu"))
# model.add(Dense(7, activation="relu"))
model.add(Dense(1, activation="sigmoid"))
model.compile(optimizer="rmsprop", loss='mse', metrics=['mae'])
model.fit(x_tr, y_tr, batch_size=1, epochs=500)

Epoch 1/500
145/145 [==============================] - 0s 559us/step - loss: 100468281400.1096 - mae: 294555.3431
Epoch 2/500
145/145 [==============================] - 0s 564us/step - loss: 97362114616.1096 - mae: 290392.9187
Epoch 3/500
145/145 [==============================] - 0s 553us/step - loss: 91167970879.1233 - mae: 286920.2921
Epoch 4/500
145/145 [==============================] - 0s 549us/step - loss: 90357536206.9041 - mae: 284737.0606
Epoch 5/500
145/145 [==============================] - 0s 568us/step - loss: 95343395854.0274 - mae: 289038.2616
Epoch 6/500
145/145 [==============================] - 0s 558us/step - loss: 102793178097.9726 - mae: 294629.5743
Epoch 7/500
145/145 [==============================] - 0s 532us/step - loss: 109923749831.8904 - mae: 305358.4170
Epoch 8/500
145/145 [==============================] - 0s 508us/step - loss: 81684806613.9178 - mae: 276250.1794
Epoch 9/500
145/145 [==============================] - 0s 514us/step - loss: 90178348354.6301 - mae: 287711.5655
Epoch 10/500
145/145 [==============================] - 0s 616us/step - loss: 86553135188.1644 - mae: 284495.8420
Epoch 11/500
145/145 [==============================] - 0s 718us/step - loss: 108118443723.3973 - mae: 296014.0777
Epoch 12/500
145/145 [==============================] - 0s 524us/step - loss: 83508854980.3836 - mae: 279421.2974
Epoch 13/500
145/145 [==============================] - 0s 563us/step - loss: 95999853301.4794 - mae: 289595.4758
Epoch 14/500
145/145 [==============================] - 0s 539us/step - loss: 94138019475.2877 - mae: 289726.7604
Epoch 15/500
145/145 [==============================] - 0s 535us/step - loss: 100282686814.6849 - mae: 293833.4664
Epoch 16/500
145/145 [==============================] - 0s 543us/step - loss: 89193575690.5206 - mae: 281763.3653
Epoch 17/500
145/145 [==============================] - 0s 551us/step - loss: 88078674705.5342 - mae: 285654.2591
Epoch 18/500
145/145 [==============================] - 0s 565us/step - loss: 81916192375.2329 - mae: 275110.1850
Epoch 19/500
145/145 [==============================] - 0s 540us/step - loss: 85802834789.6986 - mae: 280349.2932
Epoch 20/500
145/145 [==============================] - 0s 554us/step - loss: 90686180702.6849 - mae: 286697.5874
Epoch 21/500
145/145 [==============================] - 0s 560us/step - loss: 79809534260.6027 - mae: 273350.0107
Epoch 22/500
145/145 [==============================] - 0s 532us/step - loss: 100738461639.8904 - mae: 296850.9122
Epoch 23/500
145/145 [==============================] - 0s 551us/step - loss: 85562393277.3699 - mae: 281572.9437
Epoch 24/500
145/145 [==============================] - 0s 560us/step - loss: 82420977832.3288 - mae: 277594.2174
Epoch 25/500
145/145 [==============================] - 0s 587us/step - loss: 100365171838.2466 - mae: 294938.7436
Epoch 26/500
145/145 [==============================] - 0s 691us/step - loss: 84795491818.9589 - mae: 283187.8701
Epoch 27/500
145/145 [==============================] - 0s 658us/step - loss: 100071426160.2192 - mae: 298238.4377
Epoch 28/500
145/145 [==============================] - 0s 551us/step - loss: 94431011377.0959 - mae: 286034.3847
Epoch 29/500
145/145 [==============================] - 0s 596us/step - loss: 91566709128.7671 - mae: 289007.3823
Epoch 30/500
145/145 [==============================] - 0s 591us/step - loss: 92133113743.7808 - mae: 290657.5764
Epoch 31/500
145/145 [==============================] - 0s 696us/step - loss: 103377817038.9041 - mae: 301174.5743
Epoch 32/500
145/145 [==============================] - 0s 731us/step - loss: 107710240178.8493 - mae: 302052.4386
Epoch 33/500
145/145 [==============================] - 0s 677us/step - loss: 87283109158.5753 - mae: 283639.1058
Epoch 34/500
145/145 [==============================] - 0s 651us/step - loss: 93255504489.2055 - mae: 289076.3560
Epoch 35/500
145/145 [==============================] - 0s 621us/step - loss: 91623355967.1233 - mae: 289164.3667
Epoch 36/500
145/145 [==============================] - 0s 570us/step - loss: 108633474819.5069 - mae: 303105.6875
Epoch 37/500
145/145 [==============================] - 0s 566us/step - loss: 86257453224.3288 - mae: 282485.9221
Epoch 38/500
145/145 [==============================] - 0s 560us/step - loss: 86247610059.3973 - mae: 283004.9300
Epoch 39/500
145/145 [==============================] - 0s 535us/step - loss: 82350445385.6438 - mae: 278491.0668
Epoch 40/500
145/145 [==============================] - 0s 585us/step - loss: 95774235465.6438 - mae: 295431.0449
Epoch 41/500
145/145 [==============================] - 0s 658us/step - loss: 81246537559.6712 - mae: 274437.3703
Epoch 42/500
145/145 [==============================] - 0s 730us/step - loss: 98257339602.4110 - mae: 294276.4527
Epoch 43/500
145/145 [==============================] - 0s 677us/step - loss: 86252804516.8219 - mae: 282332.1142
Epoch 44/500
145/145 [==============================] - 0s 660us/step - loss: 88413650775.6712 - mae: 283553.4378
Epoch 45/500
145/145 [==============================] - 0s 648us/step - loss: 94541521513.2055 - mae: 289541.1760
Epoch 46/500
145/145 [==============================] - 0s 672us/step - loss: 92877977066.9589 - mae: 290828.1821
Epoch 47/500
145/145 [==============================] - 0s 647us/step - loss: 90545754729.2055 - mae: 286299.3578
Epoch 48/500
145/145 [==============================] - 0s 686us/step - loss: 83702921440.4384 - mae: 278821.5623
Epoch 49/500
145/145 [==============================] - 0s 664us/step - loss: 84474551366.1370 - mae: 281733.6860
Epoch 50/500
145/145 [==============================] - 0s 699us/step - loss: 91456664954.7397 - mae: 290594.7273
Epoch 51/500
145/145 [==============================] - 0s 724us/step - loss: 87657220039.8904 - mae: 284599.0509
Epoch 52/500
145/145 [==============================] - 0s 632us/step - loss: 93163102236.0548 - mae: 284922.1437
Epoch 53/500
145/145 [==============================] - 0s 579us/step - loss: 92347876029.3699 - mae: 288586.8455
Epoch 54/500
145/145 [==============================] - 0s 603us/step - loss: 89703966355.2877 - mae: 287811.0794
Epoch 55/500
145/145 [==============================] - 0s 690us/step - loss: 101801830063.3425 - mae: 294010.2384
Epoch 56/500
145/145 [==============================] - 0s 654us/step - loss: 92622554182.1370 - mae: 289710.5567
Epoch 57/500
145/145 [==============================] - 0s 606us/step - loss: 89664923339.3973 - mae: 287027.2769
Epoch 58/500
145/145 [==============================] - 0s 629us/step - loss: 90503802150.5753 - mae: 288971.1374
Epoch 59/500
145/145 [==============================] - 0s 622us/step - loss: 91448235218.4110 - mae: 288495.0651
Epoch 60/500
145/145 [==============================] - 0s 545us/step - loss: 93681327707.1781 - mae: 287487.8862
Epoch 61/500
145/145 [==============================] - 0s 610us/step - loss: 90104984056.9863 - mae: 288931.8968
Epoch 62/500
145/145 [==============================] - 0s 602us/step - loss: 88482976136.7671 - mae: 286900.8525
Epoch 63/500
145/145 [==============================] - 0s 636us/step - loss: 87985188835.9452 - mae: 285133.5464
Epoch 64/500
145/145 [==============================] - 0s 654us/step - loss: 89332359055.7808 - mae: 287542.1299
Epoch 65/500
145/145 [==============================] - 0s 560us/step - loss: 111116973378.6301 - mae: 307622.8679
Epoch 66/500
145/145 [==============================] - 0s 592us/step - loss: 92710224180.6027 - mae: 289830.8480
Epoch 67/500
145/145 [==============================] - 0s 621us/step - loss: 90631746209.3151 - mae: 286461.7417
Epoch 68/500
145/145 [==============================] - 0s 652us/step - loss: 88358867841.7534 - mae: 286281.6261
Epoch 69/500
145/145 [==============================] - 0s 619us/step - loss: 87075041308.0548 - mae: 283573.3095
Epoch 70/500
145/145 [==============================] - 0s 584us/step - loss: 89906089282.6301 - mae: 288744.5062
Epoch 71/500
145/145 [==============================] - 0s 672us/step - loss: 86145066951.8904 - mae: 281891.6041
Epoch 72/500
145/145 [==============================] - 0s 645us/step - loss: 93025167331.9452 - mae: 286732.8352
Epoch 73/500
145/145 [==============================] - ETA: 0s - loss: 80834133919.6235 - mae: 278222.48 - 0s 618us/step - loss: 82923901825.7534 - mae: 280347.1289
Epoch 74/500
145/145 [==============================] - 0s 641us/step - loss: 96357659269.2603 - mae: 294486.5083
Epoch 75/500
145/145 [==============================] - 0s 636us/step - loss: 104635322480.2192 - mae: 302417.6556
Epoch 76/500
145/145 [==============================] - 0s 605us/step - loss: 99616778688.8767 - mae: 301409.2354
Epoch 77/500
145/145 [==============================] - 0s 662us/step - loss: 93358936793.4247 - mae: 289549.8448
Epoch 78/500
145/145 [==============================] - 0s 540us/step - loss: 95400618404.8219 - mae: 295101.7528
Epoch 79/500
145/145 [==============================] - 0s 670us/step - loss: 87882008828.4931 - mae: 287517.3878
Epoch 80/500
145/145 [==============================] - 0s 628us/step - loss: 97687556039.8904 - mae: 296614.2290
Epoch 81/500
145/145 [==============================] - 0s 508us/step - loss: 96053315892.6027 - mae: 294445.5149
Epoch 82/500
145/145 [==============================] - 0s 522us/step - loss: 96289604369.5342 - mae: 293616.8490
Epoch 83/500
145/145 [==============================] - 0s 625us/step - loss: 89368628294.1370 - mae: 286006.4191
Epoch 84/500
145/145 [==============================] - 0s 596us/step - loss: 93919137006.4658 - mae: 293220.0460
Epoch 85/500
145/145 [==============================] - 0s 491us/step - loss: 86901457344.8767 - mae: 283607.2088
Epoch 86/500
145/145 [==============================] - 0s 506us/step - loss: 97052260969.2055 - mae: 293085.0092
Epoch 87/500
145/145 [==============================] - 0s 477us/step - loss: 101172496187.6164 - mae: 297024.4739
Epoch 88/500
145/145 [==============================] - 0s 507us/step - loss: 82180054675.2877 - mae: 278742.9742
Epoch 89/500
145/145 [==============================] - 0s 487us/step - loss: 94768290212.8219 - mae: 293291.9852
Epoch 90/500
145/145 [==============================] - 0s 503us/step - loss: 93368422007.2329 - mae: 293147.7479
Epoch 91/500
145/145 [==============================] - 0s 504us/step - loss: 97964574523.6164 - mae: 295008.5445
Epoch 92/500
145/145 [==============================] - 0s 488us/step - loss: 82838725084.9315 - mae: 278834.2612
Epoch 93/500
145/145 [==============================] - 0s 501us/step - loss: 89633467125.4794 - mae: 289337.4621
Epoch 94/500
145/145 [==============================] - 0s 521us/step - loss: 91223973467.1781 - mae: 283517.3859
Epoch 95/500
145/145 [==============================] - 0s 488us/step - loss: 81187573591.6712 - mae: 275785.2570
Epoch 96/500
145/145 [==============================] - 0s 522us/step - loss: 106689885899.3973 - mae: 307014.4137
Epoch 97/500
145/145 [==============================] - 0s 482us/step - loss: 93200661349.6986 - mae: 290744.5223
Epoch 98/500
145/145 [==============================] - 0s 494us/step - loss: 91311696517.2603 - mae: 291886.6329
Epoch 99/500
145/145 [==============================] - 0s 574us/step - loss: 91128326648.9863 - mae: 285057.2830
Epoch 100/500
145/145 [==============================] - 0s 495us/step - loss: 91816096866.1918 - mae: 288588.0036
Epoch 101/500
145/145 [==============================] - 0s 496us/step - loss: 98057132116.1644 - mae: 293788.4296
Epoch 102/500
145/145 [==============================] - 0s 529us/step - loss: 83735287471.3425 - mae: 277688.4979
Epoch 103/500
145/145 [==============================] - 0s 495us/step - loss: 94233239720.3288 - mae: 294341.2956
Epoch 104/500
145/145 [==============================] - 0s 483us/step - loss: 88503845845.9178 - mae: 286279.4080
Epoch 105/500
145/145 [==============================] - 0s 486us/step - loss: 94428787810.1918 - mae: 293078.6595
Epoch 106/500
145/145 [==============================] - 0s 497us/step - loss: 91131622666.5206 - mae: 289605.0995
Epoch 107/500
145/145 [==============================] - 0s 501us/step - loss: 88311349388.2740 - mae: 287337.8863
Epoch 108/500
145/145 [==============================] - 0s 511us/step - loss: 106863890011.1781 - mae: 299462.3711
Epoch 109/500
145/145 [==============================] - 0s 496us/step - loss: 91995422663.8904 - mae: 290636.7622
Epoch 110/500
145/145 [==============================] - 0s 509us/step - loss: 94488085265.5342 - mae: 284240.4741
Epoch 111/500
145/145 [==============================] - 0s 500us/step - loss: 104417214071.2329 - mae: 301766.3157
Epoch 112/500
145/145 [==============================] - 0s 498us/step - loss: 88150647850.0822 - mae: 284585.9749
Epoch 113/500
145/145 [==============================] - 0s 502us/step - loss: 103592635911.0137 - mae: 298553.9737
Epoch 114/500
145/145 [==============================] - 0s 494us/step - loss: 97193809415.0137 - mae: 290540.0809
Epoch 115/500
145/145 [==============================] - 0s 512us/step - loss: 83579788330.0822 - mae: 280242.6719
Epoch 116/500
145/145 [==============================] - 0s 490us/step - loss: 84440474048.8767 - mae: 280524.7093
Epoch 117/500
145/145 [==============================] - 0s 505us/step - loss: 93878278312.3288 - mae: 285354.9163
Epoch 118/500
145/145 [==============================] - 0s 492us/step - loss: 79960813315.5069 - mae: 276740.9570
Epoch 119/500
145/145 [==============================] - 0s 506us/step - loss: 81166585603.5069 - mae: 276246.1999
Epoch 120/500
145/145 [==============================] - 0s 512us/step - loss: 98203638938.3014 - mae: 295315.7726
Epoch 121/500
145/145 [==============================] - 0s 523us/step - loss: 88667940050.4110 - mae: 285628.3237
Epoch 122/500
145/145 [==============================] - 0s 499us/step - loss: 85492755105.3151 - mae: 282561.2820
Epoch 123/500
145/145 [==============================] - 0s 501us/step - loss: 83458072099.0685 - mae: 279447.8896
Epoch 124/500
145/145 [==============================] - 0s 480us/step - loss: 81391653368.9863 - mae: 276070.8444
Epoch 125/500
145/145 [==============================] - 0s 492us/step - loss: 93913565773.1507 - mae: 292115.6389
Epoch 126/500
145/145 [==============================] - 0s 499us/step - loss: 80949629320.7671 - mae: 277016.1038
Epoch 127/500
145/145 [==============================] - 0s 503us/step - loss: 87350633345.7534 - mae: 285146.1131
Epoch 128/500
145/145 [==============================] - 0s 478us/step - loss: 83155199915.8356 - mae: 277190.6905
Epoch 129/500
145/145 [==============================] - 0s 506us/step - loss: 93353287343.3425 - mae: 290251.7953
Epoch 130/500
145/145 [==============================] - 0s 506us/step - loss: 108841145947.1781 - mae: 304257.2175
Epoch 131/500
145/145 [==============================] - 0s 500us/step - loss: 98062056433.9726 - mae: 299847.0843
Epoch 132/500
145/145 [==============================] - 0s 499us/step - loss: 84897689796.3836 - mae: 278042.5170
Epoch 133/500
145/145 [==============================] - 0s 505us/step - loss: 85136944983.6712 - mae: 279305.7658
Epoch 134/500
145/145 [==============================] - 0s 505us/step - loss: 83467106388.1644 - mae: 279738.9440
Epoch 135/500
145/145 [==============================] - 0s 515us/step - loss: 92289183631.7808 - mae: 286289.5151
Epoch 136/500
145/145 [==============================] - 0s 498us/step - loss: 96884111556.3836 - mae: 290638.5348
Epoch 137/500
145/145 [==============================] - 0s 506us/step - loss: 87774822540.2740 - mae: 284068.4122
Epoch 138/500
145/145 [==============================] - 0s 510us/step - loss: 102679680911.7808 - mae: 300548.3729
Epoch 139/500
145/145 [==============================] - 0s 501us/step - loss: 98600629823.1233 - mae: 295856.5004
Epoch 140/500
145/145 [==============================] - 0s 500us/step - loss: 87025424019.2877 - mae: 279096.7650
Epoch 141/500
145/145 [==============================] - 0s 533us/step - loss: 93999247500.2740 - mae: 290723.3533
Epoch 142/500
145/145 [==============================] - 0s 535us/step - loss: 80995302329.8630 - mae: 275857.3244
Epoch 143/500

145/145 [==============================] - 0s 531us/step - loss: 96269134749.8082 - mae: 293258.6721
Epoch 144/500
145/145 [==============================] - 0s 665us/step - loss: 86307509009.5342 - mae: 282077.1282
Epoch 145/500
145/145 [==============================] - 0s 675us/step - loss: 112981583030.3562 - mae: 306421.7819
Epoch 146/500
145/145 [==============================] - 0s 630us/step - loss: 98016127480.9863 - mae: 293682.4223
Epoch 147/500
145/145 [==============================] - 0s 673us/step - loss: 90889132733.3699 - mae: 287522.8344
Epoch 148/500
145/145 [==============================] - 0s 563us/step - loss: 89876761305.4247 - mae: 286680.7731
Epoch 149/500
145/145 [==============================] - 0s 539us/step - loss: 92788908957.8082 - mae: 288652.7626
Epoch 150/500
145/145 [==============================] - 0s 498us/step - loss: 96785105990.1370 - mae: 293060.1218
Epoch 151/500
145/145 [==============================] - 0s 490us/step - loss: 89398107963.6164 - mae: 288619.4979
Epoch 152/500
145/145 [==============================] - 0s 504us/step - loss: 89977462727.8904 - mae: 288904.5659
Epoch 153/500
145/145 [==============================] - 0s 501us/step - loss: 92586144613.6986 - mae: 291859.9974
Epoch 154/500
145/145 [==============================] - 0s 519us/step - loss: 93010360460.2740 - mae: 288670.9182
Epoch 155/500
145/145 [==============================] - 0s 499us/step - loss: 94907840568.1096 - mae: 289559.2103
Epoch 156/500
145/145 [==============================] - 0s 487us/step - loss: 88776997425.0959 - mae: 284835.8659
Epoch 157/500
145/145 [==============================] - 0s 478us/step - loss: 78642905873.5342 - mae: 271630.2497
Epoch 158/500
145/145 [==============================] - 0s 493us/step - loss: 90116463012.8219 - mae: 286225.9572
Epoch 159/500
145/145 [==============================] - 0s 498us/step - loss: 84354325742.4658 - mae: 279704.1518
Epoch 160/500
145/145 [==============================] - 0s 561us/step - loss: 89029654415.7808 - mae: 287085.3624
Epoch 161/500
145/145 [==============================] - 0s 691us/step - loss: 82665332764.0548 - mae: 276162.5606
Epoch 162/500
145/145 [==============================] - 0s 790us/step - loss: 90669881035.3973 - mae: 290005.0210
Epoch 163/500
145/145 [==============================] - 0s 625us/step - loss: 93009887596.7123 - mae: 291789.6473
Epoch 164/500
145/145 [==============================] - 0s 601us/step - loss: 104954940345.8630 - mae: 299841.4734
Epoch 165/500
145/145 [==============================] - 0s 506us/step - loss: 84906058934.3562 - mae: 281985.8003
Epoch 166/500
145/145 [==============================] - 0s 537us/step - loss: 86583171015.8904 - mae: 283878.4362
Epoch 167/500
145/145 [==============================] - 0s 489us/step - loss: 97978710296.5479 - mae: 291706.1312
Epoch 168/500
145/145 [==============================] - 0s 483us/step - loss: 94537990480.6575 - mae: 290610.9416
Epoch 169/500
145/145 [==============================] - 0s 488us/step - loss: 85801169457.0959 - mae: 281567.0030
Epoch 170/500
145/145 [==============================] - 0s 506us/step - loss: 88087140239.7808 - mae: 284328.7365
Epoch 171/500
145/145 [==============================] - 0s 500us/step - loss: 88514421577.6438 - mae: 284399.7874
Epoch 172/500
145/145 [==============================] - 0s 498us/step - loss: 104921279333.6986 - mae: 296743.9359
Epoch 173/500
145/145 [==============================] - 0s 493us/step - loss: 90610660001.3151 - mae: 290177.8979
Epoch 174/500
145/145 [==============================] - 0s 501us/step - loss: 85436386430.2466 - mae: 284436.2284
Epoch 175/500
145/145 [==============================] - 0s 499us/step - loss: 99385298382.9041 - mae: 297928.2143
Epoch 176/500
145/145 [==============================] - 0s 524us/step - loss: 87660490527.5616 - mae: 285777.2774
Epoch 177/500
145/145 [==============================] - 0s 539us/step - loss: 94654492167.0137 - mae: 290928.3719
Epoch 178/500
145/145 [==============================] - 0s 515us/step - loss: 82854327225.8630 - mae: 279631.0990
Epoch 179/500
145/145 [==============================] - 0s 515us/step - loss: 96969667822.4658 - mae: 291028.3449
Epoch 180/500
145/145 [==============================] - 0s 509us/step - loss: 91022021169.0959 - mae: 287780.0021
Epoch 181/500
145/145 [==============================] - 0s 483us/step - loss: 99224266892.2740 - mae: 295736.2554
Epoch 182/500
145/145 [==============================] - 0s 484us/step - loss: 90182666492.4931 - mae: 288120.5738
Epoch 183/500
145/145 [==============================] - 0s 499us/step - loss: 95237903037.3699 - mae: 294442.2466
Epoch 184/500
145/145 [==============================] - 0s 504us/step - loss: 93534276846.4658 - mae: 291330.2348
Epoch 185/500
145/145 [==============================] - 0s 485us/step - loss: 94937187875.0685 - mae: 292480.3215
Epoch 186/500
145/145 [==============================] - 0s 498us/step - loss: 86839608502.3562 - mae: 283724.6085
Epoch 187/500
145/145 [==============================] - 0s 488us/step - loss: 89657688064.0000 - mae: 287351.6320
Epoch 188/500
145/145 [==============================] - 0s 512us/step - loss: 96230724565.9178 - mae: 292522.0366
Epoch 189/500
145/145 [==============================] - 0s 492us/step - loss: 85096906303.1233 - mae: 281069.3471
Epoch 190/500
145/145 [==============================] - 0s 499us/step - loss: 82841173118.2466 - mae: 278837.3112
Epoch 191/500
145/145 [==============================] - 0s 505us/step - loss: 97209761932.2740 - mae: 294475.2302
Epoch 192/500
145/145 [==============================] - 0s 494us/step - loss: 85924326414.0274 - mae: 283094.4790
Epoch 193/500
145/145 [==============================] - 0s 508us/step - loss: 88191231466.9589 - mae: 285864.3649
Epoch 194/500
145/145 [==============================] - 0s 495us/step - loss: 103284562172.4931 - mae: 301660.6284
Epoch 195/500
145/145 [==============================] - 0s 502us/step - loss: 87964039869.3699 - mae: 284223.7810
Epoch 196/500
145/145 [==============================] - 0s 491us/step - loss: 112639399122.4110 - mae: 302011.7541
Epoch 197/500
145/145 [==============================] - 0s 492us/step - loss: 88600536302.4658 - mae: 288267.6329
Epoch 198/500
145/145 [==============================] - 0s 504us/step - loss: 103354098673.9726 - mae: 297888.1847
Epoch 199/500
145/145 [==============================] - 0s 501us/step - loss: 88509679503.7808 - mae: 285074.8769
Epoch 200/500
145/145 [==============================] - 0s 512us/step - loss: 92939716131.0685 - mae: 288642.7423
Epoch 201/500
145/145 [==============================] - 0s 508us/step - loss: 105370969158.1370 - mae: 300260.6152
Epoch 202/500
145/145 [==============================] - 0s 500us/step - loss: 98304965253.2603 - mae: 295625.6789
Epoch 203/500
145/145 [==============================] - 0s 504us/step - loss: 96988238721.7534 - mae: 292590.5362
Epoch 204/500
145/145 [==============================] - 0s 493us/step - loss: 83385576714.5206 - mae: 277571.4625
Epoch 205/500
145/145 [==============================] - 0s 481us/step - loss: 117061492764.0548 - mae: 311927.5152
Epoch 206/500
145/145 [==============================] - 0s 510us/step - loss: 94408266569.6438 - mae: 290412.0390
Epoch 207/500
145/145 [==============================] - 0s 497us/step - loss: 98680365392.6575 - mae: 294567.5828
Epoch 208/500
145/145 [==============================] - 0s 501us/step - loss: 84394392982.7945 - mae: 282678.3012
Epoch 209/500
145/145 [==============================] - 0s 499us/step - loss: 80964388667.6164 - mae: 275866.4266
Epoch 210/500
145/145 [==============================] - 0s 510us/step - loss: 90135035595.3973 - mae: 287417.5034
Epoch 211/500
145/145 [==============================] - 0s 504us/step - loss: 98072423438.0274 - mae: 297603.8955
Epoch 212/500
145/145 [==============================] - 0s 507us/step - loss: 86716408874.0822 - mae: 283216.2323
Epoch 213/500
145/145 [==============================] - 0s 497us/step - loss: 96424153368.5479 - mae: 292557.2606
Epoch 214/500
145/145 [==============================] - 0s 504us/step - loss: 94838990651.6164 - mae: 293524.4972
Epoch 215/500
145/145 [==============================] - 0s 509us/step - loss: 107702734735.7808 - mae: 306524.2720
Epoch 216/500
145/145 [==============================] - 0s 512us/step - loss: 87542168870.5753 - mae: 283483.6287
Epoch 217/500
145/145 [==============================] - 0s 486us/step - loss: 89806994053.2603 - mae: 287373.1640
Epoch 218/500
145/145 [==============================] - 0s 500us/step - loss: 89935102288.6575 - mae: 285232.4107
Epoch 219/500
145/145 [==============================] - 0s 479us/step - loss: 84425488692.6027 - mae: 279741.7070
Epoch 220/500
145/145 [==============================] - 0s 498us/step - loss: 92130249489.5342 - mae: 286673.3877
Epoch 221/500
145/145 [==============================] - 0s 483us/step - loss: 89961302520.9863 - mae: 284848.1749
Epoch 222/500
145/145 [==============================] - 0s 516us/step - loss: 94181941444.3836 - mae: 289153.2502
Epoch 223/500
145/145 [==============================] - 0s 508us/step - loss: 86273148058.3014 - mae: 283526.6774
Epoch 224/500
145/145 [==============================] - 0s 518us/step - loss: 110710843195.6164 - mae: 308032.7400
Epoch 225/500
145/145 [==============================] - 0s 512us/step - loss: 90334445848.5479 - mae: 290296.6697
Epoch 226/500
145/145 [==============================] - 0s 510us/step - loss: 87360159968.4384 - mae: 283115.9955
Epoch 227/500
145/145 [==============================] - 0s 492us/step - loss: 88665218118.1370 - mae: 286941.3783
Epoch 228/500
145/145 [==============================] - 0s 505us/step - loss: 86454206071.2329 - mae: 285544.5116
Epoch 229/500
145/145 [==============================] - 0s 483us/step - loss: 94782016694.3562 - mae: 291444.3508
Epoch 230/500
145/145 [==============================] - 0s 478us/step - loss: 84559813954.6301 - mae: 280913.1206
Epoch 231/500
145/145 [==============================] - 0s 485us/step - loss: 90275722282.0822 - mae: 288632.0120
Epoch 232/500
145/145 [==============================] - 0s 518us/step - loss: 86276830053.6986 - mae: 282784.8650
Epoch 233/500
145/145 [==============================] - 0s 501us/step - loss: 83362668992.8767 - mae: 279121.0214
Epoch 234/500
145/145 [==============================] - 0s 506us/step - loss: 90209975534.4658 - mae: 287944.0997
Epoch 235/500
145/145 [==============================] - 0s 483us/step - loss: 92720224648.7671 - mae: 289256.1763
Epoch 236/500
145/145 [==============================] - 0s 494us/step - loss: 93691745742.9041 - mae: 287908.0727
Epoch 237/500
145/145 [==============================] - 0s 483us/step - loss: 108777718489.4247 - mae: 307460.8870
Epoch 238/500
145/145 [==============================] - 0s 502us/step - loss: 88987644773.6986 - mae: 283575.1549
Epoch 239/500
145/145 [==============================] - 0s 505us/step - loss: 91646812440.5479 - mae: 287377.1159
Epoch 240/500
145/145 [==============================] - 0s 616us/step - loss: 96949518392.1096 - mae: 290807.2772
Epoch 241/500
145/145 [==============================] - 0s 630us/step - loss: 86233026279.4521 - mae: 283611.0342
Epoch 242/500
145/145 [==============================] - 0s 508us/step - loss: 92916240327.8904 - mae: 290855.7207
Epoch 243/500
145/145 [==============================] - 0s 502us/step - loss: 83215423488.0000 - mae: 278897.7366
Epoch 244/500
145/145 [==============================] - 0s 507us/step - loss: 85671470065.9726 - mae: 283126.6612
Epoch 245/500
145/145 [==============================] - 0s 518us/step - loss: 94524120358.5753 - mae: 289294.5697
Epoch 246/500
145/145 [==============================] - 0s 497us/step - loss: 99752640512.0000 - mae: 292987.6466
Epoch 247/500
145/145 [==============================] - 0s 483us/step - loss: 84060330404.8219 - mae: 281888.2910
Epoch 248/500
145/145 [==============================] - 0s 476us/step - loss: 88367062058.0822 - mae: 282317.7714
Epoch 249/500
145/145 [==============================] - 0s 491us/step - loss: 85107692053.0411 - mae: 278378.1695
Epoch 250/500
145/145 [==============================] - 0s 483us/step - loss: 87956515629.5890 - mae: 287390.1721
Epoch 251/500
145/145 [==============================] - 0s 503us/step - loss: 113390648305.9726 - mae: 309356.7872
Epoch 252/500
145/145 [==============================] - 0s 503us/step - loss: 86250633664.8767 - mae: 279908.8650
Epoch 253/500
145/145 [==============================] - 0s 510us/step - loss: 106689424173.5890 - mae: 300258.9127
Epoch 254/500
145/145 [==============================] - 0s 493us/step - loss: 102532484699.1781 - mae: 299032.7579
Epoch 255/500
145/145 [==============================] - 0s 502us/step - loss: 98959716099.5069 - mae: 293208.1020
Epoch 256/500
145/145 [==============================] - 0s 490us/step - loss: 79084699844.3836 - mae: 274291.7206
Epoch 257/500
145/145 [==============================] - 0s 531us/step - loss: 94940260828.9315 - mae: 288410.5534
Epoch 258/500
145/145 [==============================] - 0s 498us/step - loss: 86089067730.4110 - mae: 281997.8572
Epoch 259/500
145/145 [==============================] - 0s 500us/step - loss: 86728954024.3288 - mae: 281681.2983
Epoch 260/500
145/145 [==============================] - 0s 512us/step - loss: 112272908007.4521 - mae: 303391.7827
Epoch 261/500
145/145 [==============================] - 0s 514us/step - loss: 100539405494.3562 - mae: 295570.3126
Epoch 262/500
145/145 [==============================] - 0s 491us/step - loss: 91350007527.4521 - mae: 287702.9407
Epoch 263/500
145/145 [==============================] - 0s 486us/step - loss: 87597956755.2877 - mae: 282510.9354
Epoch 264/500
145/145 [==============================] - 0s 540us/step - loss: 101191661034.9589 - mae: 298122.3356
Epoch 265/500
145/145 [==============================] - 0s 511us/step - loss: 79923199186.4110 - mae: 274004.0775
Epoch 266/500
145/145 [==============================] - 0s 494us/step - loss: 120182329400.1096 - mae: 315443.8020
Epoch 267/500
145/145 [==============================] - 0s 494us/step - loss: 93922353208.1096 - mae: 290908.9090
Epoch 268/500
145/145 [==============================] - 0s 490us/step - loss: 100596719587.9452 - mae: 296347.0122
Epoch 269/500
145/145 [==============================] - 0s 506us/step - loss: 94815063054.0274 - mae: 291772.1218
Epoch 270/500
145/145 [==============================] - 0s 496us/step - loss: 94848355482.3014 - mae: 290135.1267
Epoch 271/500
145/145 [==============================] - 0s 514us/step - loss: 90700445022.6849 - mae: 284397.1100
Epoch 272/500
145/145 [==============================] - 0s 504us/step - loss: 97953161664.8767 - mae: 293019.1935
Epoch 273/500
145/145 [==============================] - 0s 481us/step - loss: 88934211275.3973 - mae: 287785.8679
Epoch 274/500
145/145 [==============================] - 0s 491us/step - loss: 87500657088.8767 - mae: 284491.6421
Epoch 275/500
145/145 [==============================] - 0s 515us/step - loss: 96183673785.8630 - mae: 291797.4628
Epoch 276/500
145/145 [==============================] - 0s 495us/step - loss: 83410885197.1507 - mae: 280375.6509
Epoch 277/500
145/145 [==============================] - 0s 507us/step - loss: 94756595291.1781 - mae: 292671.6811
Epoch 278/500
145/145 [==============================] - 0s 497us/step - loss: 87188608490.9589 - mae: 283420.5639
Epoch 279/500
145/145 [==============================] - 0s 504us/step - loss: 89643591034.7397 - mae: 283784.7155
Epoch 280/500
145/145 [==============================] - 0s 498us/step - loss: 94550486815.5616 - mae: 294914.4675
Epoch 281/500
145/145 [==============================] - 0s 507us/step - loss: 100996687900.0548 - mae: 297749.1256
Epoch 282/500
145/145 [==============================] - 0s 490us/step - loss: 96576104588.2740 - mae: 292212.0005
Epoch 283/500
145/145 [==============================] - 0s 527us/step - loss: 97061752579.5069 - mae: 293291.6519
Epoch 284/500
145/145 [==============================] - 0s 489us/step - loss: 112655147344.6575 - mae: 309816.5169
Epoch 285/500

145/145 [==============================] - 0s 520us/step - loss: 109867919360.0000 - mae: 304619.8018
Epoch 286/500
145/145 [==============================] - 0s 507us/step - loss: 86802170192.6575 - mae: 285094.0241
Epoch 287/500
145/145 [==============================] - 0s 505us/step - loss: 76230044321.3151 - mae: 269677.4341
Epoch 288/500
145/145 [==============================] - 0s 486us/step - loss: 100595699319.2329 - mae: 297272.8915
Epoch 289/500
145/145 [==============================] - 0s 507us/step - loss: 99135590596.3836 - mae: 296722.3962
Epoch 290/500
145/145 [==============================] - 0s 502us/step - loss: 93429291456.8767 - mae: 292129.4182
Epoch 291/500
145/145 [==============================] - 0s 481us/step - loss: 86480391939.5069 - mae: 281431.6681
Epoch 292/500
145/145 [==============================] - 0s 505us/step - loss: 81160279474.8493 - mae: 276427.3115
Epoch 293/500
145/145 [==============================] - 0s 488us/step - loss: 108146038727.8904 - mae: 306419.1366
Epoch 294/500
145/145 [==============================] - 0s 521us/step - loss: 82304211533.1507 - mae: 277568.6588
Epoch 295/500
145/145 [==============================] - 0s 513us/step - loss: 86974426518.7945 - mae: 284212.6631
Epoch 296/500
145/145 [==============================] - 0s 507us/step - loss: 82336869923.0685 - mae: 278878.2087
Epoch 297/500
145/145 [==============================] - 0s 502us/step - loss: 83537285148.0548 - mae: 279986.9471
Epoch 298/500
145/145 [==============================] - 0s 487us/step - loss: 92016842892.2740 - mae: 288632.0251
Epoch 299/500
145/145 [==============================] - 0s 498us/step - loss: 93782425207.2329 - mae: 292016.2708
Epoch 300/500
145/145 [==============================] - 0s 482us/step - loss: 86442991756.2740 - mae: 282707.2087
Epoch 301/500
145/145 [==============================] - 0s 500us/step - loss: 91537486918.1370 - mae: 287493.4950
Epoch 302/500
145/145 [==============================] - 0s 504us/step - loss: 83680406822.5753 - mae: 281922.1032
Epoch 303/500
145/145 [==============================] - 0s 515us/step - loss: 94007900384.4384 - mae: 290089.3723
Epoch 304/500
145/145 [==============================] - 0s 490us/step - loss: 81957164943.7808 - mae: 276355.9210
Epoch 305/500
145/145 [==============================] - 0s 523us/step - loss: 84307334775.2329 - mae: 279398.9749
Epoch 306/500
145/145 [==============================] - 0s 502us/step - loss: 89634926058.9589 - mae: 287407.7312
Epoch 307/500
145/145 [==============================] - 0s 562us/step - loss: 94179148449.3151 - mae: 292034.2372
Epoch 308/500
145/145 [==============================] - 0s 660us/step - loss: 93337818546.8493 - mae: 289348.7879
Epoch 309/500
145/145 [==============================] - 0s 678us/step - loss: 89269499595.3973 - mae: 287517.2185
Epoch 310/500
145/145 [==============================] - 0s 648us/step - loss: 94074608345.4247 - mae: 286928.2528
Epoch 311/500
145/145 [==============================] - 0s 604us/step - loss: 88304216148.1644 - mae: 285573.1971
Epoch 312/500
145/145 [==============================] - 0s 558us/step - loss: 90438979836.4931 - mae: 289427.0710
Epoch 313/500
145/145 [==============================] - 0s 510us/step - loss: 97983802269.8082 - mae: 297876.4820
Epoch 314/500
145/145 [==============================] - 0s 520us/step - loss: 95882395255.2329 - mae: 297055.4961
Epoch 315/500
145/145 [==============================] - 0s 476us/step - loss: 83004658028.7123 - mae: 279551.8111
Epoch 316/500
145/145 [==============================] - 0s 516us/step - loss: 89206705867.3973 - mae: 286554.8059
Epoch 317/500
145/145 [==============================] - 0s 509us/step - loss: 88409257619.2877 - mae: 284287.3143
Epoch 318/500
145/145 [==============================] - 0s 504us/step - loss: 85787926752.4384 - mae: 284011.9122
Epoch 319/500
145/145 [==============================] - 0s 507us/step - loss: 93254802221.5890 - mae: 291386.4262
Epoch 320/500
145/145 [==============================] - ETA: 0s - loss: 88626625434.7253 - mae: 282018.20 - 0s 588us/step - loss: 90559795957.4794 - mae: 284991.3189
Epoch 321/500
145/145 [==============================] - 0s 651us/step - loss: 104462843904.0000 - mae: 302349.6453
Epoch 322/500
145/145 [==============================] - 0s 555us/step - loss: 91476085802.0822 - mae: 284849.7478
Epoch 323/500
145/145 [==============================] - 0s 562us/step - loss: 83553519195.1781 - mae: 278249.2055
Epoch 324/500
145/145 [==============================] - 0s 531us/step - loss: 92831423726.4658 - mae: 290612.1042
Epoch 325/500
145/145 [==============================] - 0s 538us/step - loss: 95238177974.3562 - mae: 292959.0429
Epoch 326/500
145/145 [==============================] - 0s 539us/step - loss: 98905567063.6712 - mae: 292525.4677
Epoch 327/500
145/145 [==============================] - 0s 519us/step - loss: 87664442746.7397 - mae: 284788.8840
Epoch 328/500
145/145 [==============================] - 0s 542us/step - loss: 113552288080.6575 - mae: 306994.7725
Epoch 329/500
145/145 [==============================] - 0s 583us/step - loss: 91037481998.0274 - mae: 287440.9613
Epoch 330/500
145/145 [==============================] - 0s 578us/step - loss: 85371061795.0685 - mae: 280108.8705
Epoch 331/500
145/145 [==============================] - 0s 547us/step - loss: 100953426088.3288 - mae: 299354.7224
Epoch 332/500
145/145 [==============================] - 0s 546us/step - loss: 99887283270.1370 - mae: 295946.7060
Epoch 333/500
145/145 [==============================] - 0s 540us/step - loss: 92970403868.0548 - mae: 286425.8784
Epoch 334/500
145/145 [==============================] - 0s 559us/step - loss: 90945812984.9863 - mae: 289679.8936
Epoch 335/500
145/145 [==============================] - 0s 547us/step - loss: 82789778558.2466 - mae: 277660.9651
Epoch 336/500
145/145 [==============================] - 0s 578us/step - loss: 97049781205.9178 - mae: 290921.7798
Epoch 337/500
145/145 [==============================] - 0s 540us/step - loss: 84190729201.9726 - mae: 281658.0753
Epoch 338/500
145/145 [==============================] - 0s 558us/step - loss: 86788821244.4931 - mae: 284943.9350
Epoch 339/500
145/145 [==============================] - 0s 554us/step - loss: 90974512815.3425 - mae: 287749.7110
Epoch 340/500
145/145 [==============================] - 0s 529us/step - loss: 89955564305.5342 - mae: 285630.7222
Epoch 341/500
145/145 [==============================] - 0s 512us/step - loss: 89313360152.5479 - mae: 287001.0531
Epoch 342/500
145/145 [==============================] - 0s 562us/step - loss: 81342250054.1370 - mae: 276950.9578
Epoch 343/500
145/145 [==============================] - 0s 563us/step - loss: 94092642304.0000 - mae: 290345.8078
Epoch 344/500
145/145 [==============================] - 0s 547us/step - loss: 95054716058.3014 - mae: 294790.8916
Epoch 345/500
145/145 [==============================] - 0s 554us/step - loss: 87474575275.8356 - mae: 284085.8339
Epoch 346/500
145/145 [==============================] - 0s 542us/step - loss: 100860354503.8904 - mae: 297117.4212
Epoch 347/500
145/145 [==============================] - 0s 597us/step - loss: 83763652131.0685 - mae: 281921.1604
Epoch 348/500
145/145 [==============================] - 0s 548us/step - loss: 85540901958.1370 - mae: 280020.5311
Epoch 349/500
145/145 [==============================] - 0s 541us/step - loss: 95598000492.7123 - mae: 291951.4540
Epoch 350/500
145/145 [==============================] - 0s 546us/step - loss: 83114019124.6027 - mae: 279713.1526
Epoch 351/500
145/145 [==============================] - 0s 550us/step - loss: 84571877151.5616 - mae: 280628.1958
Epoch 352/500
145/145 [==============================] - 0s 562us/step - loss: 92799471447.6712 - mae: 288786.5085
Epoch 353/500
145/145 [==============================] - 0s 578us/step - loss: 108469355281.5342 - mae: 305646.6490
Epoch 354/500
145/145 [==============================] - 0s 561us/step - loss: 85405537490.4110 - mae: 281584.3838
Epoch 355/500
145/145 [==============================] - 0s 520us/step - loss: 83565640072.7671 - mae: 278104.8375
Epoch 356/500
145/145 [==============================] - 0s 531us/step - loss: 88589852643.9452 - mae: 285543.0155
Epoch 357/500
145/145 [==============================] - 0s 603us/step - loss: 100966696258.6301 - mae: 294694.0304
Epoch 358/500
145/145 [==============================] - 0s 565us/step - loss: 88521870658.6301 - mae: 284563.9229
Epoch 359/500
145/145 [==============================] - 0s 608us/step - loss: 84530742931.2877 - mae: 281292.1310
Epoch 360/500
145/145 [==============================] - 0s 561us/step - loss: 86360055499.3973 - mae: 282746.4567
Epoch 361/500
145/145 [==============================] - 0s 575us/step - loss: 93377614132.6027 - mae: 285744.4086
Epoch 362/500
145/145 [==============================] - 0s 549us/step - loss: 97804584595.2877 - mae: 290205.8199
Epoch 363/500
145/145 [==============================] - 0s 568us/step - loss: 87789156660.6027 - mae: 288377.3328
Epoch 364/500
145/145 [==============================] - 0s 536us/step - loss: 93641129086.2466 - mae: 292379.9349
Epoch 365/500
145/145 [==============================] - 0s 549us/step - loss: 101252097486.9041 - mae: 297635.2520
Epoch 366/500
145/145 [==============================] - 0s 558us/step - loss: 97578267605.9178 - mae: 294082.0026
Epoch 367/500
145/145 [==============================] - 0s 554us/step - loss: 97406641614.9041 - mae: 294265.2652
Epoch 368/500
145/145 [==============================] - 0s 560us/step - loss: 97719511292.4931 - mae: 297216.9589
Epoch 369/500
145/145 [==============================] - 0s 577us/step - loss: 87539016044.7123 - mae: 284251.3309
Epoch 370/500
145/145 [==============================] - 0s 611us/step - loss: 87925805112.1096 - mae: 283450.2133
Epoch 371/500
145/145 [==============================] - 0s 585us/step - loss: 96983339541.0411 - mae: 294953.8799
Epoch 372/500
145/145 [==============================] - 0s 541us/step - loss: 89453760119.2329 - mae: 286048.5923
Epoch 373/500
145/145 [==============================] - 0s 583us/step - loss: 89157190866.4110 - mae: 285683.4689
Epoch 374/500
145/145 [==============================] - 0s 592us/step - loss: 89414366586.7397 - mae: 286856.1978
Epoch 375/500
145/145 [==============================] - 0s 588us/step - loss: 88308667153.5342 - mae: 287466.9005
Epoch 376/500
145/145 [==============================] - 0s 543us/step - loss: 89895316690.4110 - mae: 287507.3236
Epoch 377/500
145/145 [==============================] - 0s 535us/step - loss: 81913615570.4110 - mae: 276977.5900
Epoch 378/500
145/145 [==============================] - 0s 575us/step - loss: 96030077573.2603 - mae: 294010.0428
Epoch 379/500
145/145 [==============================] - 0s 592us/step - loss: 89551260405.4794 - mae: 285119.8173
Epoch 380/500
145/145 [==============================] - 0s 555us/step - loss: 88220294101.9178 - mae: 286110.5269
Epoch 381/500
145/145 [==============================] - 0s 547us/step - loss: 86054336287.5616 - mae: 281420.1045
Epoch 382/500
145/145 [==============================] - 0s 573us/step - loss: 93553982983.0137 - mae: 293168.3042
Epoch 383/500
145/145 [==============================] - 0s 581us/step - loss: 87442035754.0822 - mae: 284863.0915
Epoch 384/500
145/145 [==============================] - 0s 576us/step - loss: 95236749340.0548 - mae: 295348.5402
Epoch 385/500
145/145 [==============================] - 0s 563us/step - loss: 88245123043.9452 - mae: 287140.3275
Epoch 386/500
145/145 [==============================] - 0s 580us/step - loss: 98400375793.9726 - mae: 297554.7012
Epoch 387/500
145/145 [==============================] - 0s 599us/step - loss: 109974483953.9726 - mae: 303398.9662
Epoch 388/500
145/145 [==============================] - 0s 605us/step - loss: 87743440166.5753 - mae: 283462.1389
Epoch 389/500
145/145 [==============================] - 0s 560us/step - loss: 89375980614.1370 - mae: 284667.9319
Epoch 390/500
145/145 [==============================] - 0s 552us/step - loss: 88641242462.6849 - mae: 286377.5264
Epoch 391/500
145/145 [==============================] - 0s 600us/step - loss: 86065806125.5890 - mae: 282737.3628
Epoch 392/500
145/145 [==============================] - 0s 619us/step - loss: 93695277757.3699 - mae: 289778.7013
Epoch 393/500
145/145 [==============================] - 0s 565us/step - loss: 89182248819.7260 - mae: 284478.6634
Epoch 394/500
145/145 [==============================] - 0s 553us/step - loss: 97939890680.9863 - mae: 300067.3326
Epoch 395/500
145/145 [==============================] - 0s 566us/step - loss: 93904526967.2329 - mae: 288139.8458
Epoch 396/500
145/145 [==============================] - 0s 612us/step - loss: 84471274033.0959 - mae: 278503.5150
Epoch 397/500
145/145 [==============================] - 0s 679us/step - loss: 94474595257.8630 - mae: 292405.3791
Epoch 398/500
145/145 [==============================] - 0s 673us/step - loss: 93185356898.1918 - mae: 285327.2077
Epoch 399/500
145/145 [==============================] - 0s 537us/step - loss: 87691781330.4110 - mae: 286964.4688
Epoch 400/500
145/145 [==============================] - 0s 598us/step - loss: 100624533728.4384 - mae: 298354.7594
Epoch 401/500
145/145 [==============================] - 0s 616us/step - loss: 97154870622.6849 - mae: 296237.8540
Epoch 402/500
145/145 [==============================] - 0s 580us/step - loss: 84374959651.0685 - mae: 280216.0396
Epoch 403/500
145/145 [==============================] - 0s 577us/step - loss: 89460196253.8082 - mae: 287195.9618
Epoch 404/500
145/145 [==============================] - 0s 601us/step - loss: 84601910987.3973 - mae: 282847.1154
Epoch 405/500
145/145 [==============================] - 0s 638us/step - loss: 99075366210.6301 - mae: 294024.3720
Epoch 406/500
145/145 [==============================] - 0s 641us/step - loss: 89391856289.3151 - mae: 286088.8579
Epoch 407/500
145/145 [==============================] - 0s 598us/step - loss: 100844478744.5479 - mae: 298541.1618
Epoch 408/500
145/145 [==============================] - 0s 611us/step - loss: 101306387385.8630 - mae: 298717.9899
Epoch 409/500
145/145 [==============================] - 0s 638us/step - loss: 89977871486.2466 - mae: 286700.2379
Epoch 410/500
145/145 [==============================] - 0s 623us/step - loss: 92874526383.3425 - mae: 288121.9449
Epoch 411/500
145/145 [==============================] - 0s 604us/step - loss: 87683886318.4658 - mae: 284834.5142
Epoch 412/500
145/145 [==============================] - 0s 661us/step - loss: 85880101733.6986 - mae: 282674.1856
Epoch 413/500
145/145 [==============================] - 0s 657us/step - loss: 84806163273.6438 - mae: 280920.8878
Epoch 414/500
145/145 [==============================] - 0s 587us/step - loss: 86266229156.8219 - mae: 281981.9404
Epoch 415/500
145/145 [==============================] - 0s 643us/step - loss: 88149689329.9726 - mae: 283785.4302
Epoch 416/500
145/145 [==============================] - 0s 639us/step - loss: 84695024457.6438 - mae: 281779.9593
Epoch 417/500
145/145 [==============================] - 0s 680us/step - loss: 92744111763.2877 - mae: 293078.8059
Epoch 418/500
145/145 [==============================] - 0s 686us/step - loss: 85331746591.5616 - mae: 280886.8493
Epoch 419/500
145/145 [==============================] - 0s 570us/step - loss: 91473010828.2740 - mae: 284135.0251
Epoch 420/500
145/145 [==============================] - 0s 510us/step - loss: 95242527056.6575 - mae: 290704.9005
Epoch 421/500
145/145 [==============================] - 0s 511us/step - loss: 89196415200.4384 - mae: 286080.4805
Epoch 422/500
145/145 [==============================] - 0s 621us/step - loss: 106522917902.0274 - mae: 300681.8136
Epoch 423/500
145/145 [==============================] - 0s 595us/step - loss: 88448404157.3699 - mae: 287072.2025
Epoch 424/500
145/145 [==============================] - 0s 555us/step - loss: 90589910282.5206 - mae: 288446.6701
Epoch 425/500
145/145 [==============================] - 0s 563us/step - loss: 88866969235.2877 - mae: 282902.8554
Epoch 426/500

145/145 [==============================] - 0s 542us/step - loss: 110226597186.6301 - mae: 309537.1869
Epoch 427/500
145/145 [==============================] - 0s 553us/step - loss: 88477891485.8082 - mae: 283765.0516
Epoch 428/500
145/145 [==============================] - 0s 579us/step - loss: 100094538569.6438 - mae: 299403.0096
Epoch 429/500
145/145 [==============================] - 0s 506us/step - loss: 78413652220.4931 - mae: 272648.5292
Epoch 430/500
145/145 [==============================] - 0s 651us/step - loss: 96951399297.7534 - mae: 293218.6329
Epoch 431/500
145/145 [==============================] - 0s 483us/step - loss: 93554835652.3836 - mae: 289023.5265
Epoch 432/500
145/145 [==============================] - 0s 521us/step - loss: 88085905464.1096 - mae: 284939.8816
Epoch 433/500
145/145 [==============================] - 0s 518us/step - loss: 97465506353.0959 - mae: 289969.5147
Epoch 434/500
145/145 [==============================] - 0s 525us/step - loss: 89144065122.1918 - mae: 286808.7114
Epoch 435/500
145/145 [==============================] - 0s 527us/step - loss: 97370097018.7397 - mae: 295014.5520
Epoch 436/500
145/145 [==============================] - 0s 530us/step - loss: 85878293518.0274 - mae: 282130.2935
Epoch 437/500
145/145 [==============================] - 0s 557us/step - loss: 111271318513.9726 - mae: 308204.4666
Epoch 438/500
145/145 [==============================] - 0s 509us/step - loss: 97691542570.0822 - mae: 293307.3373
Epoch 439/500
145/145 [==============================] - 0s 521us/step - loss: 100606623968.4384 - mae: 298357.7491
Epoch 440/500
145/145 [==============================] - 0s 485us/step - loss: 84844942434.1918 - mae: 281599.4651
Epoch 441/500
145/145 [==============================] - 0s 510us/step - loss: 91219735509.9178 - mae: 287163.3057
Epoch 442/500
145/145 [==============================] - 0s 527us/step - loss: 86492298759.0137 - mae: 285833.2410
Epoch 443/500
145/145 [==============================] - 0s 536us/step - loss: 89295440180.6027 - mae: 286751.0407
Epoch 444/500
145/145 [==============================] - 0s 516us/step - loss: 116986329424.6575 - mae: 311297.3502
Epoch 445/500
145/145 [==============================] - 0s 525us/step - loss: 103289482085.6986 - mae: 303531.9994
Epoch 446/500
145/145 [==============================] - 0s 543us/step - loss: 93069225591.2329 - mae: 288540.5058
Epoch 447/500
145/145 [==============================] - 0s 529us/step - loss: 99316637415.4521 - mae: 299089.4309
Epoch 448/500
145/145 [==============================] - 0s 516us/step - loss: 91045717426.8493 - mae: 287056.5081
Epoch 449/500
145/145 [==============================] - 0s 533us/step - loss: 86016762080.4384 - mae: 280828.8142
Epoch 450/500
145/145 [==============================] - 0s 521us/step - loss: 80107277101.5890 - mae: 275665.7509
Epoch 451/500
145/145 [==============================] - 0s 503us/step - loss: 104184687181.1507 - mae: 302161.7006
Epoch 452/500
145/145 [==============================] - 0s 497us/step - loss: 87522970161.0959 - mae: 284640.1567
Epoch 453/500
145/145 [==============================] - 0s 528us/step - loss: 89468910774.3562 - mae: 282435.8412
Epoch 454/500
145/145 [==============================] - 0s 525us/step - loss: 87796338631.8904 - mae: 282416.7150
Epoch 455/500
145/145 [==============================] - 0s 555us/step - loss: 82962305304.5479 - mae: 276178.5792
Epoch 456/500
145/145 [==============================] - 0s 557us/step - loss: 88381802888.7671 - mae: 285109.7967
Epoch 457/500
145/145 [==============================] - 0s 556us/step - loss: 97179729751.6712 - mae: 293736.7192
Epoch 458/500
145/145 [==============================] - 0s 572us/step - loss: 81019831450.3014 - mae: 277147.5370
Epoch 459/500
145/145 [==============================] - 0s 529us/step - loss: 87014512836.3836 - mae: 284370.6312
Epoch 460/500
145/145 [==============================] - 0s 587us/step - loss: 92717323811.0685 - mae: 287510.3951
Epoch 461/500
145/145 [==============================] - 0s 584us/step - loss: 102970059509.4794 - mae: 300355.6661
Epoch 462/500
145/145 [==============================] - 0s 554us/step - loss: 80732334837.4794 - mae: 276798.8820
Epoch 463/500
145/145 [==============================] - 0s 547us/step - loss: 87157046286.0274 - mae: 287749.7372
Epoch 464/500
145/145 [==============================] - 0s 539us/step - loss: 96174408970.5206 - mae: 293272.6143
Epoch 465/500
145/145 [==============================] - 0s 557us/step - loss: 95802870601.6438 - mae: 292797.4112
Epoch 466/500
145/145 [==============================] - 0s 631us/step - loss: 87815918213.2603 - mae: 283529.2240
Epoch 467/500
145/145 [==============================] - 0s 581us/step - loss: 92672877890.6301 - mae: 291392.2500
Epoch 468/500
145/145 [==============================] - 0s 547us/step - loss: 98619093328.6575 - mae: 298279.1286
Epoch 469/500
145/145 [==============================] - 0s 591us/step - loss: 88515118206.2466 - mae: 282190.6110
Epoch 470/500
145/145 [==============================] - 0s 598us/step - loss: 93451349230.4658 - mae: 294149.7012
Epoch 471/500
145/145 [==============================] - 0s 578us/step - loss: 84849202835.2877 - mae: 282734.3161
Epoch 472/500
145/145 [==============================] - 0s 598us/step - loss: 93820246689.3151 - mae: 291270.4071
Epoch 473/500
145/145 [==============================] - 0s 686us/step - loss: 83314563717.2603 - mae: 278731.5803
Epoch 474/500
145/145 [==============================] - 0s 550us/step - loss: 102723762035.7260 - mae: 299113.5306
Epoch 475/500
145/145 [==============================] - 0s 593us/step - loss: 87253416440.9863 - mae: 284310.3408
Epoch 476/500
145/145 [==============================] - 0s 564us/step - loss: 96559377534.2466 - mae: 296256.1030
Epoch 477/500
145/145 [==============================] - 0s 582us/step - loss: 81937368386.6301 - mae: 278728.2194
Epoch 478/500
145/145 [==============================] - 0s 575us/step - loss: 119852249312.4384 - mae: 315690.0456
Epoch 479/500
145/145 [==============================] - 0s 548us/step - loss: 94189837157.6986 - mae: 292204.5972
Epoch 480/500
145/145 [==============================] - 0s 532us/step - loss: 85727949080.5479 - mae: 283798.7646
Epoch 481/500
145/145 [==============================] - 0s 611us/step - loss: 87107558049.3151 - mae: 283564.0362
Epoch 482/500
145/145 [==============================] - 0s 544us/step - loss: 91606967197.8082 - mae: 287582.7731
Epoch 483/500
145/145 [==============================] - 0s 557us/step - loss: 85998678408.7671 - mae: 281068.8185
Epoch 484/500
145/145 [==============================] - 0s 553us/step - loss: 88844284942.0274 - mae: 283908.5522
Epoch 485/500
145/145 [==============================] - 0s 601us/step - loss: 88008783226.7397 - mae: 282817.0112
Epoch 486/500
145/145 [==============================] - 0s 553us/step - loss: 85885833103.7808 - mae: 282521.7989
Epoch 487/500
145/145 [==============================] - 0s 528us/step - loss: 98434248311.2329 - mae: 298652.7720
Epoch 488/500
145/145 [==============================] - 0s 616us/step - loss: 93339309041.9726 - mae: 292375.8889
Epoch 489/500
145/145 [==============================] - 0s 563us/step - loss: 90068215892.1644 - mae: 287216.3395
Epoch 490/500
145/145 [==============================] - 0s 568us/step - loss: 80111484731.6164 - mae: 274558.9148
Epoch 491/500
145/145 [==============================] - 0s 575us/step - loss: 101810005651.2877 - mae: 299143.1466
Epoch 492/500
145/145 [==============================] - 0s 542us/step - loss: 102856222411.3973 - mae: 298455.6189
Epoch 493/500
145/145 [==============================] - 0s 527us/step - loss: 88656483875.0685 - mae: 286676.1473
Epoch 494/500
145/145 [==============================] - 0s 568us/step - loss: 105014424056.9863 - mae: 302759.9927
Epoch 495/500
145/145 [==============================] - 0s 595us/step - loss: 86717341920.4384 - mae: 283087.6133
Epoch 496/500
145/145 [==============================] - 0s 527us/step - loss: 101561879846.5753 - mae: 296597.8001
Epoch 497/500
145/145 [==============================] - 0s 587us/step - loss: 94819369998.0274 - mae: 291359.5544
Epoch 498/500
145/145 [==============================] - 0s 562us/step - loss: 90396148693.9178 - mae: 290547.9339
Epoch 499/500
145/145 [==============================] - 0s 544us/step - loss: 83179705554.4110 - mae: 278576.7664
Epoch 500/500
145/145 [==============================] - 0s 547us/step - loss: 100557508383.5616 - mae: 295078.6667

In [268]:
y_pe = model.predict(x_te)
print(r2_score(y_te,y_pe))
print(mean_absolute_error(y_te,y_pe))
print(mean_squared_error(y_te,y_pe))
print(y_pe)
print(y_te)

-14.180036269588664
298999.0
95705068667.66667
[[1.]
 [1.]
 [1.]]
[250000. 411000. 236000.]

In [269]:
from sklearn.svm import SVR
svr = SVR()
svr.fit(x_tr,y_tr)
y_pre = svr.predict(x_te)
print(metrics.r2_score(y_te,y_pre))
df = pd.DataFrame({'Actual':y_te, 'Predicted':y_pre})
df

-0.18329026292305528

     Actual      Predicted
0  250000.0  264998.520632
1  411000.0  265004.312564
2  236000.0  265000.959671

In [270]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn import metrics
acc3 = -10
n = []
for i in range(3,118):
    for j in range(1,3):
        knr= KNeighborsRegressor(n_neighbors=i, metric='minkowski', p=j)
        knr.fit(x_tr,y_tr)
        y_p = knr.predict(x_te)
        c = metrics.r2_score(y_te,y_p)
        if(c > acc3):
            acc3 = c
            n.clear()
            n.append(i)
            n.append(j)

knr= KNeighborsRegressor(n_neighbors=n[0], metric='minkowski', p=n[1])
knr.fit(x_tr,y_tr)
y_p = knr.predict(x_te)
print(r2_score(y_te,y_p))
print(mean_absolute_error(y_te,y_p))
print(mean_squared_error(y_te,y_p))
df = pd.DataFrame({'Actual':y_te, 'Predicted':y_p})
df

0.8150811274423415
28888.888888888887
1165851851.8518512

     Actual      Predicted
0  250000.0  253333.333333
1  411000.0  366666.666667
2  236000.0  275000.000000

In [272]:
from sklearn.linear_model import LogisticRegression
acc4 = -20
n = []
for i in range(0,101):
    lr = LogisticRegression(random_state=i, solver='saga',max_iter=500, multi_class='auto')
    lr.fit(x_tr,y_tr)
    y_predict = lr.predict(x_te)
    d = metrics.r2_score(y_te,y_predict)
    if(d > acc4):
        acc4 = d
        n.clear()
        n.append(i)

lr = LogisticRegression(random_state=n[0])
lr.fit(x_tr,y_tr)
y_predict = lr.predict(x_te)
print(r2_score(y_te,y_predict))
print(mean_absolute_error(y_te,y_predict))
print(mean_squared_error(y_te,y_predict))
df = pd.DataFrame({'Actual':y_te, 'Predicted':y_predict})
df

-0.09453315004758389
80000.0
6900666666.666667

     Actual  Predicted
0  250000.0   320000.0
1  411000.0   300000.0
2  236000.0   295000.0

In [273]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
lir = LinearRegression()
lir.fit(x_tr,y_tr)
y_pp = lir.predict(x_te)
print(metrics.r2_score(y_te,y_pp))
print(mean_absolute_error(y_te,y_pp))
print(mean_squared_error(y_te,y_pp))

0.2460477280568003
61495.84693862906
4753417757.177894

In [275]:
from sklearn.tree import DecisionTreeRegressor
acc5 = -10
n = []
for i in range(0,150):
    dtr = DecisionTreeRegressor(random_state=i)
    dtr.fit(x_tr,y_tr)
    y_prr = dtr.predict(x_te)
    x = r2_score(y_te,y_prr)
    if(x > acc5):
        acc5 = x
        n.clear()
        n.append(i)
        
dtr = DecisionTreeRegressor(random_state=n[0])
dtr.fit(x_tr,y_tr)
y_prr = dtr.predict(x_te)
print(r2_score(y_te,y_prr))
print(mean_absolute_error(y_te,y_prr))
print(mean_squared_error(y_te,y_prr))
df = pd.DataFrame({'Actual':y_te, 'Predicted':y_prr})
df

0.8521201226604631
21666.666666666668
932333333.3333334

     Actual  Predicted
0  250000.0   250000.0
1  411000.0   360000.0
2  236000.0   250000.0

In [59]:
# from sklearn.neural_network import MLPRegressor
# acc6 = -10
# n = []
# for i in range(1,21):
#     for j in range(1,21):
#         mlpr = MLPRegressor(random_state=i, max_iter=300, hidden_layer_sizes=(j,))
#         mlpr.fit(x_te,y_te)
#         y_prrr = mlpr.predict(x_te)
#         y = r2_score(y_te,y_prrr)
#         if(y > acc6):
#             acc6 = y
#             n.clear()
#             n.append(i)
#             n.append(j)

# mlpr = MLPRegressor(random_state=n[0], max_iter=300, hidden_layer_sizes=(n[1],))
# mlpr.fit(x_te,y_te)
# y_prrr = mlpr.predict(x_te)        
# print(r2_score(y_te,y_prrr))
# print(mean_absolute_error(y_te,y_prrr))
# print(mean_squared_error(y_te,y_prrr))
# df = pd.DataFrame({'Actual':y_te, 'Predicted':y_prrr})
# df

In [276]:
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error
acc7 = -1
n = []
for i in range(0,100):
    rdg = Ridge(alpha=i)
    rdg.fit(x_tr,y_tr)
    y_prd = rdg.predict(x_te)
    r = r2_score(y_te,y_prd)
    if(r > acc7):
        acc7 = r
        n.clear()
        n.append(i)
        
rdg = Ridge(alpha=n[0])
rdg.fit(x_tr,y_tr)
y_prd = rdg.predict(x_te)
print(r2_score(y_te,y_prd))
print(mean_absolute_error(y_te,y_prd))
print(mean_squared_error(y_te,y_prd))
df = pd.DataFrame({'Actual':y_te, 'Predicted':y_prd})
df

0.2460477280567982
61495.84693862916
4753417757.177906

     Actual      Predicted
0  250000.0  232496.785331
1  411000.0  325057.514666
2  236000.0  317041.840814

In [644]:
import pickle

In [691]:
pickle.dump(rfr,open('RFR.pkl','wb'))